<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.photolivebroadcast">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- the access as below only for system app -->
    <!--<uses-permission android:name="android.permission.READ_LOGS" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 部分手机上是没有otg的所以需要加入特性-->
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.establish.SginInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.photolivebroadcast.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5bb382a1b465f506360005f1" />

        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106806590" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--微信-->
        <activity
            android:name="com.photolivebroadcast.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>


        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.photoLive.activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <!--获取验证码-->
        <activity
            android:name=".ui.establish.VerificationActivity"
            android:screenOrientation="portrait" />

        <!--绑定手机号-->
        <activity
            android:name=".ui.establish.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity
            android:name=".ui.establish.ForgetPassActivity"
            android:screenOrientation="portrait" />

        <!--////////////////////////直播\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
        <activity
            android:name=".ui.photoLive.activity.LiveDetailActivity"
            android:screenOrientation="portrait" />
        <!--直播-->
        <activity
            android:name=".ui.photoLive.activity.EditorPhotoActivity"
            android:screenOrientation="portrait" />
        <!--编辑相册-->
        <activity
            android:name=".ui.photoLive.activity.WatchSettingActivity"
            android:screenOrientation="portrait" />
        <!--观看设置-->
        <activity
            android:name=".ui.photoLive.activity.AdminCameramanActivity"
            android:screenOrientation="portrait" />
        <!--管理摄影师-->
        <activity
            android:name=".ui.photoLive.activity.AdminExamineActivity"
            android:screenOrientation="portrait" />
        <!--管理审核员-->
        <activity
            android:name=".ui.photoLive.activity.AdminTrimActivity"
            android:screenOrientation="portrait" />
        <!--管理修图师-->
        <activity
            android:name=".ui.photoLive.activity.ShotImageActivity"
            android:screenOrientation="portrait" />
        <!--拍摄活动信息-->
        <activity
            android:name=".ui.photoLive.activity.WaterMarkActivity"
            android:screenOrientation="portrait" />
        <!--水印设置-->
        <activity
            android:name=".ui.photoLive.activity.ClassifySettingActivity"
            android:screenOrientation="portrait" />
        <!--设置相册分类-->
        <activity
            android:name=".ui.photoLive.activity.AddColumnActivity"
            android:screenOrientation="portrait" />
        <!--新增分栏条-->
        <activity
            android:name=".ui.photoLive.activity.CustomAdverActivity"
            android:screenOrientation="portrait" />
        <!--自定义广告设置-->

        <!--相册基本信息-->
        <activity
            android:name=".ui.photoLive.activity.AlbumJiBenInfoActivity"
            android:screenOrientation="portrait" />
        <!--编辑拍摄活动信息-->
        <activity
            android:name=".ui.photoLive.activity.EditShotImageActivity"
            android:screenOrientation="portrait" />
        <!--玉兰水印-->
        <activity
            android:name=".ui.photoLive.activity.WaterMarkActivity2"
            android:screenOrientation="portrait" />
        <!--分栏条-->
        <activity
            android:name=".ui.photoLive.activity.ColumnActivity"
            android:screenOrientation="portrait" />
        <!--新增分栏条-->
        <activity
            android:name=".ui.photoLive.activity.ColumnAddActivity"
            android:screenOrientation="portrait" />

        <!--设备相册、上传-->
        <activity
            android:name=".ui.photoLive.activity.CloudSeedingActivity"
            android:screenOrientation="portrait" />


        <!--////////////////////////////个人信息\\\\\\\\\\\\\\\\\\\\\\\\\\-->
        <!--个人信息-->
        <activity
            android:name=".ui.mine.activity.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <!--编辑用户名-->
        <activity
            android:name=".ui.mine.activity.EditNameActivity"
            android:screenOrientation="portrait" />
        <!--编辑性别-->
        <activity
            android:name=".ui.mine.activity.EditSexActivity"
            android:screenOrientation="portrait" />

        <!--实名认证-->
        <activity
            android:name=".ui.mine.activity.RealnameAuthenticationActivity"
            android:screenOrientation="portrait" />

        <!--认证个人1-->
        <activity
            android:name=".ui.mine.activity.PersonalAuthenticationActivity1"
            android:screenOrientation="portrait" />
        <!--认证个人2-->
        <activity
            android:name=".ui.mine.activity.PersonalAuthenticationActivity2"
            android:screenOrientation="portrait" />

        <!--认证企业1-->
        <activity
            android:name=".ui.mine.activity.EnterpriseAuthenticationActivity1"
            android:screenOrientation="portrait" />
        <!--认证企业2-->
        <activity
            android:name=".ui.mine.activity.EnterpriseAuthenticationActivity2"
            android:screenOrientation="portrait" />
        <!--认证审核-->
        <activity
            android:name=".ui.mine.activity.CertificationAuditActivity"
            android:screenOrientation="portrait" />

        <!--我的账户-->
        <activity
            android:name=".ui.mine.activity.MyAccountActivity"
            android:screenOrientation="portrait" />

        <!--充值-->
        <activity
            android:name=".ui.mine.activity.RechargeActivity"
            android:screenOrientation="portrait" />
        <!--提现-->
        <activity
            android:name=".ui.mine.activity.ForwardActivity"
            android:screenOrientation="portrait" />
        <!--明细-->
        <activity
            android:name=".ui.mine.activity.AccountDetailedActivity"
            android:screenOrientation="portrait" />

        <!--我的套餐-->
        <activity
            android:name=".ui.mine.activity.SetMealMyActivity"
            android:screenOrientation="portrait" />
        <!--全部套餐-->
        <activity
            android:name=".ui.mine.activity.SetMealAllActivity"
            android:screenOrientation="portrait" />
        <!--我发出的-->
        <activity
            android:name=".ui.mine.activity.MySendActivity"
            android:screenOrientation="portrait" />
        <!--修图服务-->
        <activity
            android:name=".ui.mine.activity.MappingServiceActivity1"
            android:screenOrientation="portrait" />
        <!--修图服务-->
        <activity
            android:name=".ui.mine.activity.MappingServiceActivity2"
            android:screenOrientation="portrait" />

        <!--推广中心-->
        <activity
            android:name=".ui.mine.activity.ExtensionActivity"
            android:screenOrientation="portrait" />

        <!--立即推广 -->
        <activity
            android:name=".ui.mine.activity.ExtensionImmediatelyActivity"
            android:screenOrientation="portrait" />


        <!--推广 -->
        <activity
            android:name=".ui.mine.activity.ExtensionOrderActivity"
            android:screenOrientation="portrait" />
        <!--推广团队 -->
        <activity
            android:name=".ui.mine.activity.ExtensionTeamActivity"
            android:screenOrientation="portrait" />
        <!--设置 -->
        <activity
            android:name=".ui.mine.activity.SetUpActivity"
            android:screenOrientation="portrait" />
        <!--检查版本 -->
        <activity
            android:name=".ui.mine.activity.UpdataActivity"
            android:screenOrientation="portrait" />
        <!--关于我们 -->
        <activity
            android:name=".ui.mine.activity.AboutActivity"
            android:screenOrientation="portrait" />


        <!--//////////////////////////新建相册\\\\\\\\\\\\\\\\\\\\\\\\\-->
        <!--新建相册 -->
        <activity
            android:name=".ui.newAlbum.NewAlbumActivity"
            android:screenOrientation="portrait" />
        <!--相册两标题 -->
        <activity
            android:name=".ui.newAlbum.AlbumTitleActivity"
            android:screenOrientation="portrait" />
        <!--相册两图 -->
        <activity
            android:name=".ui.newAlbum.AlbumPhotoActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>